/**
 * Appointment Box
 */

.appointment-box{
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    h3{
        font-size: 28px;
        color: $heading-color;
        margin-bottom: 8px;
        margin-top: -5px;
        span{
            font-weight: 400;
        }
    }
    p{
        font-size: 16px;
        font-style: italic;
        color: $body-color;
        line-height: 24px;
    }

    &.pg-appointment-box{
        background: #ffffff;
        border: none;
        padding: 0;
        padding-right: 20px;
    }

}

.appointment-form{
    margin-top: -17px;
    label{
        font-size: 13px;
        text-transform: uppercase;
        font-family: $heading-font;
        font-weight: 700;
        margin-bottom: 3px;
        color: $heading-color;
    }
    input[type="submit"], button[type="submit"]{
        display: inline-block;
        width: auto;
        text-transform: uppercase;
        color: #ffffff;
        background: $heading-color;
        border-color: $heading-color;
        outline: none;
        font-family: $heading-font;
        font-size: 16px;
        font-weight: 700;
        padding: 0 25px;
        margin-top: 10px;
        &:hover{
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    .single-input{
        margin-top: 17px;
    }
}


@media #{$lg-layout}{
    .appointment-box{
        &.pg-appointment-box{
            padding-right: 0;
        }
    }
}

@media #{$md-layout}{
    .appointment-box{
        &.pg-appointment-box{
            padding-right: 0;
        }
    }
    .pg-appointment-image{
        margin-top: 50px;
        width: 100%;
    }
}

@media #{$sm-layout}{
    .appointment-box{
        &.pg-appointment-box{
            padding-right: 0;
        }
    }
    .pg-appointment-image{
        margin-top: 50px;
        width: 100%;
    }
}

@media #{$xs-layout}{
    .appointment-box {
        padding: 30px 20px;
    }
    .appointment-box h3 {
        font-size: 24px;
    }
}
